@import "../base/variables";

.footer {
  background-color: $color-white;
  margin-top: 3px;

  ::selection {
    color: white;
    background-color: $color-electric-blue;
    text-shadow: none;
  }

  &__content {
    padding: 133.33333px;

    @media screen and (max-width: 64em) {
      padding-left: 8.33333vw;
      padding-right: 8.33333vw;
    }
  }

  &__logo {
    width: 188px;
  }
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  column-gap: 1rem;
  padding-bottom: 66.66667px;

  @media screen and (max-width: 64em) {
    grid-template-columns: 1fr;
    padding-bottom: 0;

    &:first-of-type {
      padding-bottom: 4.16667vw;
    }
  }
}

.newsletter {
  @media screen and (max-width: 64em) {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.footer__section {
  font-size: 1.25rem;

  @media screen and (max-width: 81.25em) {
    font-size: 1rem;
  }
  @media screen and (max-width: 64em) {
    padding-bottom: 4.16667vw;
  }

  h3 {
    font-weight: 500;
  }
  h3,
  p {
    font-size: inherit;
    margin: 0;
  }

  .footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .footer__link {
      a {
        color: inherit;
        text-decoration: none;

        &::after {
          content: "\00a0›";
        }
      }
    }
  }

  form {
    margin-top: 1em;
  }
}

.social__links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .social__link {
    display: inline-block;
    margin-top: 0.625rem;
    margin-right: 0.625rem;

    a {
      display: block;
      color: inherit;
      text-decoration: none;
      width: 2.5rem;
      height: 2.5rem;

      &.facebook {
        background-color: #3477f2;
      }
      &.twitter {
        background-color: #1da1f2;
      }
      &.youtube {
        background-color: #ff001d;
      }
      &.instagram {
        background-color: #f77737;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.language-selector {
  font-size: 0.875rem;
  margin-top: 0.75em;

  form {
    margin-top: 0;
  }

  & > div {
    display: inline-block;
    max-width: 200px;
    margin-right: 2px;
  }
}

.secondary-select {
  width: auto;
  max-width: none;
}

.bottom__links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 81.25em) {
    font-size: 0.85rem;
  }

  @media screen and (max-width: 64em) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.625rem;

      &:last-of-type {
        margin-right: 0;
      }

      @media screen and (max-width: 64em) {
        display: block;
        margin-top: 0.625rem;
        margin-right: 0;
      }
    }
  }

  .mini--logo {
    display: flex;
    align-items: center;

    & > span:first-of-type {
      margin-right: 1em;
      padding-bottom: 7.5px;
    }

    @media screen and (max-width: 64em) {
      margin-top: 8.33333vw;
      flex-direction: row-reverse;

      & > span:first-of-type {
        margin-left: 1em;
      }
    }
  }
}
