.form {
}

.form__group {
  display: flex;
  width: 100%;
  font-family: inherit;
}

.form__input {
  background: transparent;
  background-color: $color-bg;

  border: 0;
  border-radius: 0;
  padding: 0.5em 0.94em;
  margin: 0;

  font-size: inherit;
  font-family: inherit;

  width: 100%;

  user-select: none;
}

.btn {
  display: inline-block;

  border: 0;
  margin: 0;
  padding: 0.45em 2em;

  font-size: inherit;
  font-family: inherit;

  appearance: none;
  cursor: pointer;

  &.primary {
    color: $color-white;
    background: $color-electric-blue;
  }
}
