@import "../base/variables";

.header {
  background-color: $color-white;
  padding: 1.2rem 2.5rem;
  position: relative;

  @media screen and (max-width: 64rem) {
    padding: 1.2rem 1rem;
  }

  &-primary {
    display: flex;
    align-items: center;
  }

  ::selection {
    color: white;
    background-color: $color-electric-blue;
    text-shadow: none;
  }
}

.logo-mobile_menu-group {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 20;

  transition: color 1s;

  &__logo__image {
    width: 3.75em;
    height: 1.75em;
    transition: fill 1s;

    position: relative;
    margin-right: 2.5em;

    @media screen and (max-width: 64rem) {
      margin-right: 2em;
    }
  }

  .menu_btn {
    font-size: 1.25rem;
    display: none;

    &::after {
      transition: color 1s;
      content: "";
      transform: scaleX(0.8);
      display: inline-block;
      width: 0;
      height: 0;
      margin-bottom: -3px;
      margin-left: 0.4em;
      border: 5px solid transparent;
      border-top-color: $color-black;
    }

    @media screen and (max-width: 64rem) {
      display: block;
    }
  }

  &.is-open {
    @media screen and (max-width: 64rem) {
      color: $color-white;

      .menu_btn {
        display: block;
        font-size: 1.25rem;

        &::after {
          content: "";
          transform: scaleX(0.8);
          display: inline-block;
          width: 0;
          height: 0;
          margin-bottom: 3px;
          margin-left: 0.4em;
          border: 5px solid transparent;
          border-bottom-color: $color-white;
        }
      }

      .logo-mobile_menu-group__logo__image {
        fill: currentColor;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  z-index: 2;

  @media screen and (max-width: 64rem) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;

    position: absolute;
    top: 0;
    left: 0;

    background-color: $color-electric-blue;
    color: $color-white;

    width: 100%;
    height: auto;

    padding-top: 66px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.35s ease-in-out;
    transform: translateY(-100%);
  }

  &.is-open {
    transform: translateY(0);
  }
}

.dir-nav {
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  @media screen and (max-width: 64rem) {
    display: block;
    width: 100%;
  }
}

.left-nav {
  .nav {
    ul {
      li:first-of-type {
        margin-left: 0;
      }
      @media screen and (max-width: 64rem) {
        li:last-of-type {
          display: none;
        }
      }
    }

    .more_btn {
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        background-color: $color-black;

        position: absolute;
        top: 50%;
        right: -10px;

        width: 2px;
        height: 40%;
      }

      &::before {
        transform: translateY(-50%);
      }
      &::after {
        transform: translateY(-50%) rotate(90deg);
        height: 50%;
      }

      &.is-open {
        &::before {
          width: 0;
        }
      }
    }
  }
}

.nav {
  font-size: inherit;
  font-weight: 500;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 1rem;
      a {
        padding: 0 0.2rem;
      }
    }

    @media screen and (max-width: 64rem) {
      padding-left: 0;

      li {
        display: block;
        margin: 0;
        margin-bottom: 1em;

        a {
          display: block;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

.right-nav {
  .nav {
    ul {
      padding-right: 0;

      li:first-of-type {
        color: $color-electric-blue;
      }
      li:last-of-type {
        font-size: 1rem;
        margin-right: 0;
      }

      @media screen and (max-width: 64rem) {
        li:first-of-type {
          color: $color-white;
        }
        li:last-of-type {
          font-size: 0.85rem;
        }
      }
    }
  }
}

.desktop-more {
  .more_information {
    @media screen and (max-width: 64rem) {
      display: none;
    }
  }
}

.desktop-more.is-open {
  .more_information {
    display: block;

    @media screen and (max-width: 64rem) {
      display: none;
    }
    @media screen and (min-width: 64.001rem) {
      .more-on-ableton-nav {
        font-weight: normal;
        margin-bottom: 2rem;

        ul {
          display: flex;
          margin-left: -1.2rem;
          margin-right: -1.2rem;
        }
      }
    }
    .more-from-ableton-nav {
      font-size: 1.25rem;
      font-weight: normal;

      ul {
        display: flex;
        margin-left: -1.2rem;

        li {
          a {
            display: block;
          }
        }
      }
    }
  }
}

.more_information {
  display: none;
  padding-top: 3rem;
  padding-bottom: 1rem;

  font-size: 1.25rem;

  h3,
  h4 {
    font-weight: 500;
    font-size: 1.85rem;
    margin: 0 0 1rem;
  }

  h4,
  p {
    font-size: inherit;
    margin: 0;
  }

  @media screen and (max-width: 64rem) {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0;
    width: 100%;

    font-size: 0.85rem;

    h3,
    h4 {
      font-size: 1.25rem;
      margin: 0 0 0.6rem;
    }

    h4,
    p {
      font-size: inherit;
    }

    h4 {
      margin: 0;
    }

    .more-from-ableton-nav {
      font-size: 1rem;
      font-weight: normal;
      padding-top: 0.625rem;

      .slideable-wrapper {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 1.25rem;
          width: 2.5rem;
          background-image: linear-gradient(90deg, rgba(0, 0, 255, 0), blue);
        }
      }
      .slideable {
        padding-bottom: 1.25rem;
        overflow-x: auto;
      }

      ul {
        font-weight: normal;
        display: flex;
        margin-left: -0.625rem;
        margin-right: -0.625rem;

        li {
          padding-left: 0.625rem;
          padding-right: 0.625rem;

          min-width: 15em;
        }
      }
    }
  }
}
