@import "../../base/variables";

.section {
  width: 100%;
}

.logo-hero-image-group {
  position: relative;
  //   z-index: 0;

  .hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&fit=crop&fm=jpg&h=817&ixjsv=1.1.3&w=1334");
    min-height: calc(100vh - 120px);

    margin: 133.33333px;
    margin-top: 0;
    @media screen and (max-width: 64em) {
      margin: 8.33333vw;
      margin-top: 0;
    }
  }

  .ableton-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 104px;

    @media screen and (max-width: 48em) {
      width: 215px;
      height: 52px;
    }
  }
}
