@import "../../base/variables";

.nav {
  background-color: rgba($color-white, 0.9);

  position: relative;
  z-index: 99;
  top: 0;

  transition: transform 0.25s ease-in-out;
  transform: translateY(0) translateX(-50%);
  left: 50%;

  &.isFixed {
    position: fixed;
    top: 0;
  }

  &.isUnpinned {
    transition-delay: 0.2s;
    transform: translateY(-100%) translateX(-50%);
  }

  &.isPinned {
    transform: translateY(0) translateX(-50%);
  }

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  max-width: 100rem;
  width: 100%;
  height: 4.25rem;

  padding: 1.25rem 2.5rem;
  font-weight: 500;

  ::selection {
    color: $color-white;
    background-color: $color-electric-blue;
    text-shadow: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.625rem;

      a {
        padding-right: 0.625rem;
      }

      &:last-of-type {
        margin-left: 0.625rem;

        a {
          padding-left: 0.625rem;
        }
      }
    }
  }
}

.active--link {
  color: $color-sunset-rest;
}
