@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-LightObl.woff2") format("woff2"),
    url("/fonts/FuturaPT-LightObl.woff") format("woff"),
    url("/fonts/FuturaPT-LightObl.svg#FuturaPT-LightObl") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Light.woff2") format("woff2"),
    url("/fonts/FuturaPT-Light.woff") format("woff"),
    url("/fonts/FuturaPT-Light.svg#FuturaPT-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Bold_italic";
  src: url("/fonts/futura_bold_italic_font-webfont.woff2") format("woff2"),
    url("/fonts/futura_bold_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Book.woff2") format("woff2"),
    url("/fonts/FuturaPT-Book.woff") format("woff"),
    url("/fonts/FuturaPT-Book.svg#FuturaPT-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-BookObl.woff2") format("woff2"),
    url("/fonts/FuturaPT-BookObl.woff") format("woff"),
    url("/fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("/fonts/FuturaPT-Medium.woff") format("woff"),
    url("/fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-MediumObl.woff2") format("woff2"),
    url("/fonts/FuturaPT-MediumObl.woff") format("woff"),
    url("/fonts/FuturaPT-MediumObl.svg#FuturaPT-MediumObl") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("/fonts/FuturaPT-Demi.woff2") format("woff2"),
    url("/fonts/FuturaPT-Demi.woff") format("woff"),
    url("/fonts/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("/fonts/FuturaPT-DemiObl.woff2") format("woff2"),
    url("/fonts/FuturaPT-DemiObl.woff") format("woff"),
    url("/fonts/FuturaPT-DemiObl.svg#FuturaPT-DemiObl") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// Typography
body {
  font-family: "Futura PT", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
