$color-yellow-stone: #fbffa7;
$color-purple-pain: #d5b3ff;
$color-sunset-rest: #ff764d;
$color-lean-green: #b6ffc0;
$color-washedup-blue: #b1c5ff;
$color-electric-blue: #0000ff;
$color-white: #fff;
$color-black: #000;
$color-bg: #f3f3f3;
