@import "base/variables";
@import "base/typography";

@import "components/form";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  color: $color-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  // @media screen and (min-width: 100em) {
  max-width: 100rem;
  margin: 0 auto;
  // }
}

.bg-yellow-stone {
  background-color: $color-yellow-stone;
}
.bg-purple-pain {
  background-color: $color-purple-pain;
}
.bg-sunset-rest {
  background-color: $color-sunset-rest;
}
.bg-lean-green {
  background-color: $color-lean-green;
}
.bg-washedup-blue {
  background-color: $color-washedup-blue;
}
